@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;

  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

.dark {
  @apply bg-gray-800 text-zinc-50;
}

.light-theme {
  background-color: rgb(36, 39, 43);
  color: white;
}

.vector-home {
  background-image: url(/public/svg/back-home.svg);
  background-repeat: no-repeat;
  image-orientation: 40grad;
  position: relative;
  background-size: cover;
}

.vector-contactos {
  background-image: url(/public/svg/back-contactos.svg);
  background-repeat: no-repeat;
  position: relative;
  background-size: 100% 30%;
}

.vector-nav {
  background-image: url(/public/svg/nav.svg);
  background-repeat: no-repeat;
  position: relative;
  background-size: cover;
}
